html, body{
	height: 100%;
}
body{
	margin:0;
	padding: 0;
	background: #0b0b0b url(../Imagenes/1.jpg) center center no-repeat;
	background-size: 100%;
	height: 50%;
	text-align: center;
	align-items: center;
	display: flex;
}

.contenedor{
	color: #fff;
	font-family: Arial;
	font-weight: lighter;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

}
